<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Club</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="Lesson.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">
    <div id="application">
        <header id="navbar">
            <button v-show="btnCart" id="btnCart" v-on:click='showCart'>
                <!--This returns the amount of items which are in the Cart.-->
                <span id="btnText" class="fas fa-cart-plus" v-on:click='switchText'>Cart</span>
            </button>
        </header>
        <main>
            <div id="box" v-if='showLessonsPage'>
                <div id="sort-section">
                    <h1>Sorting By:</h1>
                    <select v-model="sort" v-on:change="sortLessons">
                        <!--Depending on the switch case values this will implement that case or function and accordingly sort the subjects.-->
                        <option :value="1">Subject-A - Z</option>
                        <option :value="2">Subject-Z - A</option>
                    </select>
                </div>
                <div id="main" v-for="(lesson, Space) in lessons">
                    <!--The space- index value of the lessons-->


                    <!--V-for permits the lessons stated in the lessons.js file to be presented here.
                    lessons- all lessons/ Lesson- 1 , fetchs the data/presents it here.-->
                    <h1>Subject: {{lesson.SubjectName}}</h1>
                    <h2>Location: {{lesson.Location}}</h2>
                    <h3>Price: £{{lesson.Price}}</h3>

                    <!--If lesson space is equal or equal in type as cart Count the following message stated below will be displayed. 
                    The max amount for spaces is 5 for each lesson- -->
                    <span v-if='lesson.Space === cartCount(lesson)'>
                        <h4>No more available places</h4>
                    </span>

                    <!--Else If statement shows that else if the lesson space is smaller than five one space will be lessened via- minus operater,
                     the updated spaces will also be displayed while it is reducing. And when it gets to more than 5 it will be halted.-->
                    <span v-else-if="lesson.Space - cartCount(lesson) < 5">
                        <h4>Available Spaces: {{lesson.Space - cartCount(lesson)}}</h4>
                    </span>

                    <!--Or the existing spaces remaining will show.-->
                    <span v-else>
                        <h4>Available Spaces: {{lesson.Space}}</h4>
                    </span>

                    <figure>
                        <img v-bind:src="lesson.Image" height="100" width="150">
                    </figure>

                    <button v-on:click='addToCart(lesson, Space)' v-if='canAddToCart(lesson)'>Add to cart</button>

                    <button id="hide" hidden="hidden" v-else>Add to cart</button>
                </div>
            </div>
            <!--If lessons page == false it will transition to the cart aspect and presnet the cart aspect on the page -->
            <div id="cart-page" v-else>
                
                <center><h1>Cart</h1></center>

                <!--Presenting the Lessons from cart array-->
                <div id="display-cart" v-for="cart in displayLessonsCart">
                    <!--cart is 1 aspect of the displayLessonsCart Array-->
                    <h1>{{ cart.SubjectName }}</h1>
                    <p>Location: {{ cart.Location }}</p>
                    <h3>Price: £{{ cart.Price }}</h3>
                    <h4>Spaces: {{ cart.Space }}</h4>
                    <img v-bind:src="cart.Image" height="70px" width="70px"><br><br>
                    <!--The button below deletes/removes the lesson in the cart/ cart- acknowledged as 1 lesson in the cart array-->
                    <button v-on:click="removeLesson(cart)">Delete</button>
                </div>

                <br>

                <!--Present the Checkout-->
                <div id="checkout-section">
                    <h2>Checkout</h2>
                    <p>
                        <strong>Full name:</strong>
                        <!-- Input field that permits users to insert their full name. -->
                        <input v-model.trim="checkout.Name" />
                    </p>
                    <p>
                        <strong>Mobile Number:</strong>
                        <!-- Input field that permits users to insert their mobile number. -->
                        <input v-model.trim="checkout.PhoneNo" />
                    </p>

                    <h2>Order Details</h2>
                    <p>First Name: {{checkout.Name}}</p>
                    <p>Mobile Number: {{checkout.PhoneNo}}</p>
                    <!--If the input fields have been filled in, then the checkout button will show or else the button won't be displayed-->
                    <!--If both input are true then order can be placed or purchased-->
                    <button v-on:click="purchase">Checkout</button>
                    <div id="check-out"></div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        let lessonApp = new Vue({
            el: '#application',
            data: { //Every varible for v-show/ lessons cart data/ v-model defined here.
                sitename: 'Lessons-App',
                lessons: JSON.parse(localStorage.getItem("Lesson")),
                displayLessonsCart: [],
                showLessonsPage: true,
                btnCart: true,
                sort: '',
                checkout: {
                Name: '',
                PhoneNo: '',
                },
                checkoutMsg: false, //checkout message- currently hidden. 
                orders: [],
            },
            mounted() { //Utilised when the page loads at first , all the things at the beginning will execute here. 
                this.btnCart = false;   //Button will not show when no lessons have been added to the cart .
            },
            methods: {
                showCart() {
                    //Getting Cart so it cam be shown/not hidden.
                    this.displayLessonsCart = JSON.parse(localStorage.getItem("Cart"));
                    this.showLessonsPage = this.showLessonsPage ? false : true; //Message changed to false on order to present the cart. 
                    localStorage.setItem("Lessons", JSON.stringify(this.lessons));
                },
                switchText() {  //Utilised to alter 'button text' while switching amongst the lessons - cart page.
                    let btnText = document.getElementById("btnText");
                    if (btnText.innerHTML === " Cart") {
                        btnText.innerHTML = " Lessons";
                    } else {
                        btnText.innerHTML = " Cart";
                    }
                },
                cartCount(lesson) { //Finding lesson element in cart = the same lesson. 
                    let count = 0;
                    //below the for-loop goes through all aspects inside  the cart. 
                    for (let i = 0; i < this.displayLessonsCart.length; i++) {
                        //If a aspect of cart is equal or equal in type to the input-lesson, the count will increase by 1.
                        if (this.displayLessonsCart[i] === lesson) {
                            count++;
                        }
                    }
                    return count; //Returns count of amount thats been established.
                },
                addToCart(lesson, Space) {
                    this.btnCart = true;    
                    //When a lesson is added to cart -cart button will display.
                    this.displayLessonsCart.push(lesson);   
                    //Pushes the lesson into Cart Array.
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart));  
                    //Cart updated whenever user adds lesson. 
                },
                canAddToCart(lesson) {
                    //Compares amount already in the cart with the lesson space. 
                    return lesson.Space > this.cartCount(lesson);
                },
                sortLessons() {
                    switch (this.sort) {
                        case 1:
                            let sortedValues1 = this.lessons.sort((a, b) => {    //Sorting can be done ascending to descending
                                if (a.SubjectName > b.SubjectName) {    //If  statement is true  return 1.
                                    return 1;
                                } else if (a.SubjectName < b.SubjectName) { //If true return -1
                                    return -1;
                                } else {
                                    return 0;   //Else it returns 0. 
                                }
                            })
                            localStorage.setItem("Lessons", JSON.stringify(sortedValues1)); //Each array localstorge needs to be updated or it won't recognisge the wrong index value.
                            return sortedValues1;
                        case 2:
                            let sortedValues2 = this.lessons.sort((a, b) => {    ///Sorting can be done descending to ascending
                                if (a.SubjectName > b.SubjectName) {
                                    return -1;
                                } else if (a.SubjectName < b.SubjectName) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                            localStorage.setItem("Lessons", JSON.stringify(sortedValues2));
                            return sortedValues2;
                    }
                },
                removeLesson(cart) {
                    const index = this.displayLessonsCart.indexOf(cart);    //Establishes index of Cart Array. 
                    if (index !== -1) { //If index of cart array isn't equal value/equal type. 
                        this.displayLessonsCart.splice(index, 1);   //Splice- erases that index. 
                    }
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart));  
                    //Updates Cart Array. 

                    // Executes when cart == 0.
                    if (this.displayLessonsCart == 0) {
                        location.reload();
                        this.btnCart = false; //Because the cart has no lessons (zero) the button can't be seen.
                        this.showLessonsPage = this.showLessonsPage ? false : true; //Automatticly goes to lesson page from the cart page.
                    }
                },
                purchase() {
                    if (this.checkout.Name == '' && this.checkout.PhoneNo == '') {
                        document.getElementById('check-out').innerHTML = `<p> Fill in all details please </p>`;
                    } else {
                    this.displayLessonsCart = [];   //Cart - cleared after an order
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart)); 

                    document.getElementById('check-out').innerHTML = `<p> successful </p>`;
                } 
            }
        },
    });

    </script>
</body>

</html>