<!DOCTYPE html>
<html lang="en">

<head>
    <title>School Club</title>
        <script src="https://unpkg.com/vue"></script>
        <script src="Lesson.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="styles.css">
    <div id="application">
        <header id="navbar">
            <button v-show="btnCart" id="btnCart" v-on:click='showCart'>
                <!--Returns the Number of Items Inside the Cart.-->
                <span id="btnText" class="fas fa-cart-plus" v-on:click='switchText'>Cart</span>
            </button>
        </header>
        <main>
            <div id="box" v-if='showLessonsPage'>
                <div id="sort-section">
                    <h1>Sorting By:</h1>
                    <select v-model="sort" v-on:change="sortLessons">
                        <!--Accroding to each value of the switch case it will execute that case/function and sort those subjects.-->
                        <option :value="1">A - Z</option>
                        <option :value="2">Z - A</option>
                    </select>
                </div>
                <div id="main" v-for="(lesson, Space) in lessons">
                    <!--Space is the index value of each lesson-->

                    <!--Using this V-for all the lessons in the lessons.js will be displayed in this section.
                    lessons means all the lessons, lesson means one lesson from the lesson.js, it get's each and displays them here.-->
                    <h1>Subject: {{lesson.SubjectName}}</h1>
                    <h2>Location: {{lesson.Location}}</h2>
                    <h3>Price: £{{lesson.Price}}</h3>

                    <!--If the lesson space is equal and equal type to the cart Count then it should show this message. 
                    5 is the maxium space for one lesson so if a lesson space is equal/type to 5 then it should display this message.-->
                    <span v-if='lesson.Space === cartCount(lesson)'>
                        <h4>Spaces Full</h4>
                    </span>

                    <!--Else If lesson space is less then 5 then redcue one space using the minus operater, also 
                    showing the updated spaces on the page as its being reuced. This will automatiicly stop when it will go greater then 5.-->
                    <span v-else-if="lesson.Space - cartCount(lesson) < 5">
                        <h4>Available Spaces: {{lesson.Space - cartCount(lesson)}}</h4>
                    </span>

                    <!--Else if will just show the remaining spaces left in the lessons.-->
                    <span v-else>
                        <h4>Available Spaces: {{lesson.Space}}</h4>
                    </span>

                    <figure>
                        <img v-bind:src="lesson.Image" height="100" width="100">
                    </figure>

                    <button v-on:click='addToCart(lesson, Space)' v-if='canAddToCart(lesson)'>Add to cart</button>

                    <button id="hide" hidden="hidden" v-else>Add to cart</button>
                </div>
            </div>
            <!--If the show lessons page == false then it will switch to the cart section and display the cart section on the app -->
            <div id="cart-page" v-else>
                <!--Switching to the Cart Page-->
                <center>
                    <h1>Cart</h1>
                </center>

                <!--Displaying Lessons from the Cart Array-->
                <div id="display-cart" v-for="cart in displayLessonsCart">
                    <!--cart is one elemnt of the displayLessonsCart Array-->
                    <h1>{{ cart.SubjectName }}</h1>
                    <p>Location: {{ cart.Location }}</p>
                    <h3>Price: £{{ cart.Price }}</h3>
                    <h4>Spaces: {{ cart.Space }}</h4>
                    <img v-bind:src="cart.Image" height="60px" width="60px"><br><br>
                    <!--This button removes the lesson from the cart, cart is know as one lesson inside the cart array-->
                    <button v-on:click="removeLesson(cart)">Remove</button>
                </div>

                <br>

                <!--Displaying The Checkout-->
                <div id="checkout-section">
                    <h2>Checkout</h2>
                    <p>
                        <strong>Name:</strong>
                        <!-- This input field is for entering the Name. -->
                        <input v-model.trim="checkout.Name" />
                    </p>
                    <p>
                        <strong>Phone Number:</strong>
                        <!-- This input field is for entering the Phonenumber. -->
                        <input v-model.trim="checkout.PhoneNo" />
                    </p>

                    <h2>Order Information</h2>
                    <p>First Name: {{checkout.Name}}</p>
                    <p>Phone Number: {{checkout.PhoneNo}}</p>
                    <!--If the users inputted name and phoneNo is both true it will display the checkout button else it won't-->
                    <!--Once it's true then, the user can purchase-->
                    <button v-on:click="purchase">Checkout</button>
                    <div id="check-out"></div>
                </div>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        let lessonApp = new Vue({
            el: '#application',
            data: { //All the varibles and data for the V-show, V-model, and lessons cart data are defined in this section.
                sitename: 'Lessons-App',
                lessons: JSON.parse(localStorage.getItem("Lesson")),
                displayLessonsCart: [],
                showLessonsPage: true,
                btnCart: true,
                sort: '',
                checkout: {
                    Name: '',
                    PhoneNo: '',
                },
                checkoutMsg: false, //This is the checkout message which is hidden at the moment. 
                orders: [],
            },
            mounted() { //This is used when the page first loads up, this will execute everyting in the beggining. 
                this.btnCart = false;   //Button is hidden as no items in the cart have been added.
            },
            methods: {
                showCart() {
                    //Getting the Cart for displaying.
                    this.displayLessonsCart = JSON.parse(localStorage.getItem("Cart"));
                    this.showLessonsPage = this.showLessonsPage ? false : true; //Turn the message to false to display the cart. 
                    localStorage.setItem("Lessons", JSON.stringify(this.lessons));
                },
                switchText() {  //This is used to change the button text as you switch beetween the lessons and cart page.
                    let btnText = document.getElementById("btnText");
                    if (btnText.innerHTML === " Cart") {
                        btnText.innerHTML = " Lessons";
                    } else {
                        btnText.innerHTML = " Cart";
                    }
                },
                cartCount(lesson) { //Finding a lesson element from the cart which will equal the same lesson. 
                    let count = 0;
                    //This for-loop is going to go through everyting inside of the cart. 
                    for (let i = 0; i < this.displayLessonsCart.length; i++) {
                        //If an element of the cart is equal/equal type to the input(lesson) then, the count will increase by 1.
                        if (this.displayLessonsCart[i] === lesson) {
                            count++;
                        }
                    }
                    return count; //Returns the count of how many have been identified.
                },
                addToCart(lesson, Space) {
                    this.btnCart = true;    //If one lesson is added to the cart then it will show the cart button.
                    this.displayLessonsCart.push(lesson);   //Pushing the lessing into the Cart Array.
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart));  //Updatimg the Cart each time a lesson is added. 

                    //This is used for redcucing the space inside the cart array.
                    //The varible space gets the index number of the lesson in the lessons array.
                    let getLessons = JSON.parse(localStorage.getItem("Lessons"));   //Gets all the lessons in the lessons array.
                    getLessons[Space].Space--;  //Reduce the space by the index value. it fins the index vlaue by space and reduces it.
                    this.lessons = getLessons;  //Updates the lessons array.
                    localStorage.setItem("Lessons", JSON.stringify(getLessons));    //Sets the updated version to the localstorage.
                },
                canAddToCart(lesson) {
                    //Comparing how many is already in the cart with the actual lesson space. 
                    return lesson.Space > this.cartCount(lesson);
                },
                sortLessons() {
                    switch (this.sort) {
                        case 1:
                            let sortedValues1 = this.lessons.sort((a, b) => {    //For High to Low
                                if (a.SubjectName > b.SubjectName) {    //If this statement is true then it will return 1.
                                    return 1;
                                } else if (a.SubjectName < b.SubjectName) { //If this statement is true then it will return -1
                                    return -1;
                                } else {
                                    return 0;   //Else it just returns 0. 
                                }
                            })
                            localStorage.setItem("Lessons", JSON.stringify(sortedValues1)); //For each array I would have to update the localstorge therefore it, doesn't recognisge the incorrect index value.
                            return sortedValues1;
                        case 2:
                            let sortedValues2 = this.lessons.sort((a, b) => {    //For Low to High
                                if (a.SubjectName > b.SubjectName) {
                                    return -1;
                                } else if (a.SubjectName < b.SubjectName) {
                                    return 1;
                                } else {
                                    return 0;
                                }
                            })
                            localStorage.setItem("Lessons", JSON.stringify(sortedValues2));
                            return sortedValues2;
                    }
                },
                removeLesson(cart) {
                    const index = this.displayLessonsCart.indexOf(cart);    //Finds the index of the Cart Array. 
                    if (index !== -1) { //If index of the cart array is not equal value or equal type. 
                        this.displayLessonsCart.splice(index, 1);   //Splice is used to remove that index. 
                    }
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart));  //Updates the Cart Array. 

                    //This function will execute when cart == 0.
                    if (this.displayLessonsCart == 0) {
                        location.reload();
                        this.btnCart = false; //As the cart has 0 lessons the button will not be visible.
                        this.showLessonsPage = this.showLessonsPage ? false : true; //This will Automatticly chnage to the lesson webpage from the cart page.
                    }
                },
                purchase() {
                    if (this.checkout.Name == '' && this.checkout.PhoneNo == '') {
                        document.getElementById('check-out').innerHTML = `<p> Fill in all details please </p>`;
                    } else {
                    this.displayLessonsCart = [];   //clears the cart after the order has been purchased.
                    localStorage.setItem("Cart", JSON.stringify(this.displayLessonsCart)); 

                    document.getElementById('check-out').innerHTML = `<p> successful </p>`;
                } 
            }
        },
    });

    </script>
</body>

</html>