@import "navigation.css";

body {
    background-color: rgb(211, 230, 236);
    border: 4px solid rgb(44, 41, 173);
  }

h1{
    color: rgb(109, 109, 204);
    font-style:inherit;
    font-size: 20px;
}

h2{
    color: rgb(109, 109, 204);
    font-size: 20px;
}

h3{
    color: rgb(109, 109, 204);
    font-size: 20px;
}

h4{
    color: rgb(109, 109, 204);
    font-size: 20px;
}
#application{
    
    padding: 15px;


}
#application {
  padding: 70px 0;
  text-align: center;
    
  }
 